This exercise will require you to pull some data from the Qunadl API. Qaundl is currently the most widely used aggregator of financial market data.

As a first step, you will need to register a free account on the http://www.quandl.com website.

After you register, you will be provided with a unique API key, that you should store:

In [1]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
API_KEY = '9b1_6h5W-_kWyCikaNxo'

Qaundl has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Quandl API instructions here: https://docs.quandl.com/docs/time-series

While there is a dedicated Python package for connecting to the Quandl API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/ ).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [47]:
# First, import the relevant modules
import requests as req
import quandl
import json

In [54]:
#Using the request package
res_req = req.get("https://www.quandl.com/api/v3/datasets/FSE/AFX_X?start_date=2017-01-01&end_date=2017-12-31&api_key=9b1_6h5W-_kWyCikaNxo")

In [5]:
! pip install quandl

Collecting quandl
  Downloading Quandl-3.6.1-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: pandas>=0.14 in c:\users\durgesh\anaconda3\lib\site-packages (from quandl) (1.0.5)
Requirement already satisfied: requests>=2.7.0 in c:\users\durgesh\anaconda3\lib\site-packages (from quandl) (2.24.0)
Collecting inflection>=0.3.1
  Downloading inflection-0.5.1-py2.py3-none-any.whl (9.5 kB)
Requirement already satisfied: six in c:\users\durgesh\anaconda3\lib\site-packages (from quandl) (1.15.0)
Requirement already satisfied: more-itertools in c:\users\durgesh\anaconda3\lib\site-packages (from quandl) (8.4.0)
Requirement already satisfied: numpy>=1.8 in c:\users\durgesh\anaconda3\lib\site-packages (from quandl) (1.18.5)
Requirement already satisfied: python-dateutil in c:\users\durgesh\anaconda3\lib\site-packages (from quandl) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\durgesh\anaconda3\lib\site-packages (from pandas>=0.14->quandl) (2020.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\durgesh\anaconda3\lib\site-packages (from requests>=2.7.0->quandl) (1.25.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\durgesh\anaconda3\lib\site-packages (from requests>=2.7.0->quandl) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\users\durgesh\anaconda3\lib\site-packages (from requests>=2.7.0->quandl) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\durgesh\anaconda3\lib\site-packages (from requests>=2.7.0->quandl) (3.0.4)
Installing collected packages: inflection, quandl
Successfully installed inflection-0.5.1 quandl-3.6.1

In [285]:
####-----Using Quandl inbuilt request library

# Now, call the Quandl API and pull out a small sample of the data (only one day) to get a glimpse
# into the JSON structure that will be returned
res_qun = quandl.get("FSE/AFX_X", start_date="2017-01-01", end_date="2017-12-31")

In [17]:
quandl.ApiConfig.api_key = '9b1_6h5W-_kWyCikaNxo'
quandl.get("FSE/AFX_X", start_date="2017-01-01", end_date="2017-12-31")

,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
Date,,,,,,,,,,
2017-01-02,34.99,35.94,34.99,35.80,NaN,44700.0,1590561.0,None,None,None
2017-01-03,35.90,35.93,35.34,35.48,NaN,70618.0,2515473.0,None,None,None
2017-01-04,35.48,35.51,34.75,35.19,NaN,54408.0,1906810.0,None,None,None
2017-01-05,35.02,35.20,34.73,35.06,NaN,48412.0,1692326.0,None,None,None
2017-01-06,34.91,35.21,34.91,35.04,NaN,27507.0,964046.0,None,None,None
...,...,...,...,...,...,...,...,...,...,...
2017-12-21,51.16,51.52,50.90,51.40,NaN,120649.0,6179433.0,None,None,None
2017-12-22,51.05,51.50,50.92,51.32,NaN,71165.0,3641949.0,None,None,None
2017-12-27,51.45,51.89,50.76,51.82,NaN,57452.0,2957018.0,None,None,None
2017-12-28,51.65,51.82,51.43,51.60,NaN,40660.0,2099024.0,None,None,None
2017-12-29,51.76,51.94,51.45,51.76,NaN,34640.0,1792304.0,None,None,None

In [55]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure
data = res_req.json()

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

In [56]:
type(data)

dict

In [80]:
data_list = list(data.items())

In [86]:
data_list2 = data_list[0][1]

In [88]:
dic1 = dict(data_list2)

In [158]:
dic1['data'][0][2]

51.94

In [286]:
# Pull Needed data :
date = []
opn = []
high = []
low = []
close = []
Traded_Volume = []
for i in range(255):
    date.append(dic1['data'][i][0])
    #because we have null elements in open price, we are using the below solution
    if isinstance(dic1['data'][i][1],float):
        opn.append(dic1['data'][i][1])
    high.append(dic1['data'][i][2])
    low.append(dic1['data'][i][3])
    close.append(dic1['data'][i][4])
    Traded_Volume.append(dic1['data'][i][6])

**********SOLUTIONS***********

In [217]:
#Q3 : Calculate what the highest and lowest opening prices were for the stock in this period.
print("highest opening price was : ", max(opn))
print("lowest opening price was : ", min(opn))

highest opening price was :  53.11
lowest opening price was :  34.0

In [218]:
##Function to calculate the differences
def diff(high,low):
    diff = []
    for i in range(len(high)):
        diff.append(abs(high[i]-low[i]))
    return diff

In [219]:
#Q4 : What was the largest change in any one day (based on High and Low price)?
round(max(diff(high, low)),2)

2.81

In [234]:
diff

In [281]:
#Q5 : What was the largest change between any two days (based on Closing Price)?
close_day2 = []
for i in range(len(close)-1):
    close_day2.append(abs(close[i]-close[i+1]))    
print("Largest 2 days change for close price is :" , round(max(close_day2), 2))

Largest 2 days change for close price is : 2.56

In [283]:
### ignore 
h2 = []
l2 = []

for i in range(len(high)-1):
    h2.append(max([high[i],high[i+1]]))
    l2.append(min([low[i],low[i+1]]))
    
d2 = diff(h2,l2)
max(d2),min(d2)

print(close_h2.index(2.559999999999995))
close[96:105]

98

[41.94, 41.68, 41.81, 44.37, 44.96, 45.07, 44.97, 45.56, 45.45]

In [233]:
#Q6 : What was the average daily trading volume during this year?
print("Average Traded volume for the period is :", round(sum(Traded_Volume)/len(Traded_Volume), 2))

Average Traded volume for the period is : 89124.34

In [255]:
#Q7 : (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)
sorted_traded = Traded_Volume
sorted_traded.sort()
print("Median of traded volume is :", sorted_traded[int(len(sorted_traded)/2)])

Median of traded volume is : 76286.0

In [284]:
# To check if the list has any Nonetype values 
#for i in range(len(Traded_Volume)):
    #print(type(Traded_Volume[i]))#

In [287]:
%pwd

'C:\\Users\\DURGESH\\Downloads\\SPRINGBOARD\\Case studies\\Unit 7 - Data Collection - APIs\\API'